/* at-rule-empty-line-before */
@import url("foo1");
@import url("foo2");

@import url("bar");

.at-rule-empty-line-before {
	/* comment */
	@nest & {
	}
}

/* block-no-empty */
.block-no-empty {
}

/* custom-property-pattern */
--foo1-1: 1;
--_foo1-1: 1;

/* declaration-no-important [test omitted] */

/* indentation [test omitted] */

/* length-zero-no-unit */
.length-zero-no-unit {
	--inline-size: 0;
	--block-size: 0px;

	inline-size: 0;
	block-size: calc(1em + 0px);
}

/* linebreaks [test omitted] */

/* max-line-length [test omitted] */

/* max-nesting-depth */
.max-nesting-depth {
	&.foo {
		&.bar {
			&.baz {
				&.qux {
					&.quux {
					}
				}
			}
		}
	}
}

/* no-descending-specificity [test omitted] */

/* selector-max-id [test omitted] */

/* selector-max-universal */
.selector-max-universal > * + * {
}

/* value-keyword-case */
.value-keyword-case {
	fill: currentColor;
}
